:root {
    --color-white: #FFFFFF;
    --white-seconds: #F2F2F2;
    --dark-green: #22BF95;
    --lightest-grey: #E5E5E5;
    --light-grey: #B2B2B2;
    --darker-grey: #7F7F7F;
    --light-black: #191919;
    --gradient-cyan: #20D0E8;
    --twitter-blue: #1DA1F2;
    --youtube-red: #FF0000;
    --facebook-blue: #4267B2;
    --linkedin-blue: #0A66C2;
}
