@use '../globals';
@use '../utils' as u;

.faqs-section {
    padding: 3rem 1.3rem 0 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .faqs-title {
        margin-bottom: 2rem;
        padding-top: .5rem;
        color: var(--light-grey);
        font-family: u.$fontActor;
        border-top: 1px solid var(--light-grey);
    }

    .faqs-span {
        font-weight: 400;
    }

    .faq {
        padding: .5rem 1rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;

        @include u.breakpoints('medium') {
            padding: 1rem 2rem;
        }
    }

    .faq-letter {
        font-family: u.$fontActor;
        font-size: 2.5em;
        color: var(--lightest-grey);

        @include u.breakpoints('medium') {
            font-size: 4em;
        }
    }

    .faq-question {
        font-family: u.$fontAcnolica;
        width: 70%;
        font-size: 1em;

        @include u.breakpoints('medium') {
            font-size: 1.5em;
        }
    }

    .expand-faq-button {
        border: none;
        background: transparent;
        color: var(--dark-green);
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
    }

    #expand-faq-icon {
        font-size: 1.5em;
        color: var(--dark-green);
        transition: 200ms ease-in-out;
    }

    #expand-faq-icon:hover {
        color: var(--light-grey);
    }

    .more-questions-button {
        margin: 3rem auto;
        background: transparent;
        border: none;
        font-size: .75em;
        font-family: u.$fontAcme;
        color: var(--dark-green);
        cursor: pointer;
        transition: 200ms ease-in-out;
    }

    .more-questions-button:hover {
        color: var(--light-grey);
    }

}
