@use '../globals' as g;
@use '../utils' as u;

.fixed-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

nav {
    position: relative;
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(var(--dark-green), var(--gradient-cyan));

    @include u.breakpoints('large') {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .top-section {
        height: 10vh;
        padding: 0 1.3rem;
        margin-bottom: 2.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include u.breakpoints('large') {
            display: inline;
            width: min-content;
        }

    }
    
    #burger-menu-icon {
        font-size: 2rem;
        color: var(--color-white);
        cursor: pointer;

        @include u.breakpoints('large') {
            display: none;
        }

    }

    .site-name, .nav-text {
        font-family: u.$fontActor;
        color: var(--color-white);
        cursor: pointer;
    }

    .site-name {
        font-size: 2rem;
    }
    
    .nav-text {
        margin-bottom: 5rem;
        font-size: 2.5em;
        text-align: center;

        @include u.breakpoints('medium') {
            width: 100%;
        }
    }

    .expandable-menu {
        display: none;
        padding: 1rem 0;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        background-color: var(--color-white);

        @include u.breakpoints('large') {
            margin: 0 2.6rem 2.6rem 0;
            height: auto;
            background-color: transparent;
            display: flex;
            flex-direction: row;
        }
    }

    .expanded {
        position: fixed;
        height: 90vh;
        top: 16%;
        width: 100%;
        height: 90vh;

        @include u.breakpoints('medium') {
            top: 15%;
        }
    }

    .expanded-menu-list {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        @include u.breakpoints('medium') {
            gap: .8rem;
        }

        @include u.breakpoints('large') {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .expandable-menu-buttons {
        margin-bottom: 3rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;

        @include u.breakpoints('medium') {
            flex-direction: row;
        }

        @include u.breakpoints('large') {
            margin-bottom: 0;
            flex-direction: row;
        }
    }

    .expanded-menu-element,
    .expanded-menu-button {
        font-family: u.$fontAcme;
        font-size: .75em;
        font-weight: 400;
        transition: 300ms ease-in-out;

    }

    .expanded-menu-element {
        @include u.breakpoints('medium') {
            padding-bottom: .5rem;
        }
    }

    .expanded-menu-element:hover,
    .expanded-menu-button:hover {
        color: var(--light-grey);

        @include u.breakpoints('large') {
            border-bottom: 1px solid var(--color-white);
        }
    }

    .expanded-menu-element {
        list-style: none;
        text-align: center;
    }

    .menu-link {
        color: var(--dark-green);
        padding-bottom: 1.5rem;
        
        @include u.breakpoints('large') {
            padding-bottom: .5rem;
            color: var(--color-white);
        } 
    }

    .menu-link:hover {
        color: var(--light-grey);
        text-align: center;
        cursor: pointer;

        @include u.breakpoints('large') {
            color: var(--color-white);
        }

    }

    .menu-link:focus {
        color: var(--light-grey);
        border-bottom: 1.5px solid var(--light-grey);
    }

    .expanded-menu-button {
        padding: .75rem 1rem;
        background: transparent;
        border: 1.5px solid var(--dark-green);
        border-radius: 1.5rem;
        font-family: u.$fontAcme;
        font-size: .75em;
        line-height: 1.5em;
        color: var(--dark-green);

        @include u.breakpoints('large') {
            border-color: var(--color-white);
        }
    }

    .expanded-menu-button:hover {
        border-color: var(--light-grey);
        cursor: pointer;

        @include u.breakpoints('large') {
            padding: .75rem 1rem;
            border-color: var(--color-white);
        }

    }

    .sub-nav {
        position: absolute;
        bottom: -11%;
        left: 15%;
        right: 15%;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        background-color: var(--color-white);
        box-shadow: 0px 12px 24px var(--white-seconds);
        border-radius: .3125rem;

        @include u.breakpoints('medium') {
            left: 18%;
            right: 18%;
            padding: 1.3rem 0;
            justify-content: space-around;
        }

    }
    
    .sub-nav-element {
        color: var(--light-grey);
        font-family: u.$fontAcme;
        list-style: none;
        cursor: pointer;
    }

    .sub-nav-element:nth-child(2) {
        padding: 0 .5rem;
        margin-inline: .5rem;
        border-left: 1px solid var(--light-grey);
        border-right: 1px solid var(--light-grey);

        @include u.breakpoints('medium') {
            padding: 0 5rem;
        }
    }

    .sub-nav-element-link {
        font-family: u.$fontAcme;
        color: var(--darker-grey);
    }

    .sub-nav-element-link:hover {
        color: var(--dark-green);
    }

    .button-link {
        color: var(--dark-green);

        @include u.breakpoints('large') {
            color: var(--color-white);
        }
    }

    .button-link:hover {
        color: var(--light-grey);

        @include u.breakpoints('large') {
            color: var(--color-white);
        }
    }

}
