@use '../globals';
@use '../utils' as u;

.tips-section {
    padding: 3rem 1.3rem 0 1.3rem;

    .tips-title {
        margin-bottom: 2rem;
        padding-top: .5rem;
        color: var(--light-grey);
        font-family: u.$fontActor;
        border-top: 1px solid var(--light-grey);
    }

    .tips-span {
        font-weight: 400;
    }

    .tip {
        padding: .5rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--dark-green);

        @include u.breakpoints('medium') {
            padding: 1rem 2rem;
        }
    }

    .tip-number {
        font-family: u.$fontActor;
        font-size: 2.5em;
        color: var(--lightest-grey);

        @include u.breakpoints('medium') {
            font-size: 4em;
        }
    }

    .tip-title {
        font-family: u.$fontAcnolica;
        font-size: 1em;
        width: 70%;

        @include u.breakpoints('medium') {
            font-size: 1.5em;
        }
    }

    .tip:last-child {
        border-bottom: 1px solid var(--dark-green);
    }

    .expand-tip-button {
        border: none;
        background: transparent;
        color: var(--dark-green);
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
    }
    
    .tip-button-icon {
        fill: var(--dark-green);
        transition: 200ms ease-in-out;
    }
    
    .tip-button-icon:hover {
        fill: var(--light-grey);
    }

    .tip-info-box {
        margin: 2rem 0;
    }

    .tip-info-paragraph {
        text-align: left;
        font-family: u.$fontAcnolica;
        font-size: .875em;
    }

}
